$colorWhite: #fff;
$colorBlack: #000;

$colorOrange: #fc5000af;
$colorOrange2: #aa3f0d;
$colorOrange3: #ff7d40;

$colorYellow: #ffd651;
$colorYellow2: #ffcf32;

$colorSalmon: #f55745;
$colorSalmon2: #db675ad7;